extends layout

block content
  #app
    .row
      .col-8.offset-2
        .card
          .card-body
            form(action="", method="POST")
                #header
                  h2 Encabezado
                  hr
                  .form-group.row
                    label(for="RNCE").col-sm-2.col-form-label RNC
                    .col-sm-10
                      input(type="number",name="RNCE", required="true",v-model="archiveModel.header.rnc").form-control
                  .form-group.row
                    label(for="EntidadE").col-sm-2.col-form-label Entidad
                    .col-sm-10
                      input(type="text",name="EntidadE", required="true" maxlength="11",v-model="archiveModel.header.entidad").form-control
                  .form-group.row
                    label(for="FechaTrE").col-sm-2.col-form-label Fecha Transmisión
                    .col-sm-10
                      input(type="date",name="FechaTrE", required="true",v-model="archiveModel.header.fechaTr").form-control
                  .form-group.row
                    label(for="FechaE").col-sm-2.col-form-label Fecha
                    .col-sm-10
                      input(type="date",name="FechaE", required="true",v-model="archiveModel.header.fecha").form-control
                  .form-group.row
                    label(for="CuentaE").col-sm-2.col-form-label No Cuenta
                    .col-sm-10
                      input(type="number",name="CuentaE", required="true",v-model="archiveModel.header.cuenta").form-control
                  hr
                #detalle
                  h2 Detalle
                  hr
                  .row.text-center
                    .col-sm-6
                      button(type="button", v-on:click="pushDetalle").btn.btn-primary Agregar Detalle
                    .col-sm-6
                      button(type="button", v-on:click="popDetalle($event)")#elDt.btn.btn-danger Eliminar Detalle
                  br
                  div(v-for="dt in archiveModel.detalle")
                    .form-group.row
                      label(for="CedulaDt").col-sm-2.col-form-label Cédula
                      .col-sm-10
                        input(type="number",name="CedulaDt", required="true",v-model="dt.cedula").form-control
                    .form-group.row
                      label(for="salarioDt").col-sm-2.col-form-label Salario
                      .col-sm-10
                        input(type="number",name="salarioDt", required="true",v-model="dt.salario").form-control
                    .form-group.row
                      label(for="salarioDt").col-sm-2.col-form-label Cuenta Empleado
                      .col-sm-10
                        input(type="number",name="salarioDt", required="true",v-model="dt.cuentaEmpleado").form-control
                    hr
                    br
                    
                  div
                    button(type="button" v-on:click="generateArchive").btn.btn-success Generar
block scripts
  script(src="/js/main/archive.js")
